@media screen and (min-width: 577px) and (max-width:992px){
    .navbar-container{
        max-width: 80%;
        margin: 0 auto;
        padding-top: 30px;
    }
    .navbar-items{
        gap: 30px;
        align-items: center;
    }
    .navbar-title{
        font-size: 1.8rem;
    }
    .banner-content{
        flex-direction: column;
    }
    .banner-text-content{
        margin-top: 50px;
        width: 500px;
        height: 400px;
    }
    .banner-text-title{
        font-size: 4.25rem;
    }
    .banner-image-content{
        margin-left: 50px;
    }
    .banner-img{
        margin-left: 80px;
    }
    .card-01{
        top: 8%;
        left: 90%;
        padding: 10px 10px;
    }
    .card-02{
        bottom: 22%;
        left: 7%;
        padding: 10px 30px;
    }
}
/* small device media query starts here */
@media screen and (max-width:576px){
    .navbar-container{
       flex-direction: column;
       align-items: flex-start;
       padding-top: 30px;
       margin-left: 20px;
    }
    .hamburger-icon{
        display: block;
        margin-top: 20px;
    }
    .navbar-items{
        display: none;
    }
    .navbar-container{
        flex-direction: row;
     }
    .navbar-title{
        color: rgb(230, 83, 60);
        font-size: 2.25rem;
        font-weight: 800;
    }
    .banner-content{
        flex-direction: column;
        margin-left: 15px;
    }
    .banner-text-title{
        font-size: 3rem;
    }
    .banner-text-content{
        margin-top: 50px;
        width: 352px;
        height: 335px;
    }
    .banner-image-content{
        margin-left: 50px;
    }
    .btn-primary{
        border-radius: 42px;
        background: rgb(230, 83, 60);
        border: none;
        padding: 10px 30px;
        color: rgb(255, 255, 255);
        font-size: 1.125rem;
        font-weight: 600;
    }
    .btn-primary{
        padding: 10px 10px;
    }
    .btn-download{
        padding: 10px 10px;
        
    }
    .banner-text-button{
        display: flex;
    }
    .banner-image-content{
        position: relative;
        /* width: 349px; */
        width: 100%;
    }
    .banner-img{
        /* max-width: 100%; */
    }
    .card-01{
        top: 8%;
        left: 54%;
        padding: 10px 10px;
    }
    .card-02{
        bottom: 42%;
        left: 5%;
        padding: 10px 20px;
    }
}