@media screen and (min-width: 577px) and (max-width:992px){
    /* header style starts here */
    .navbar-container{
        max-width: 80%;
        margin: 0 auto;
        padding-top: 30px;
    }
    .nav-right-content{
        width: 60%;
    }
    .navbar-items{
        gap: 30px;
        align-items: center;
    }
    .navbar-title{
        font-size: 1.8rem;
    }
    .banner-content{
        flex-direction: column;
    }
    .banner-text-content{
        margin-top: 50px;
        width: 500px;
        height: 400px;
    }
    .banner-text-title{
        font-size: 4.25rem;
    }
    .banner-image-content{
        margin-left: 50px;
        margin-top: 100px;
    }
    .banner-img{
        margin-left: 80px;
    }
    .card-01{
        top: 8%;
        left: 90%;
        padding: 10px 10px;
    }
    .card-02{
        bottom: 22%;
        left: 7%;
        padding: 10px 30px;
    }
    /* header style ends here */
    /* change your habit starts here */
    .change-your-habit-text-content-title{
        font-size: 2rem;
    }
    .change-your-habit-image-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
     /* change your habit ends here */
     /* run and extra mile starts here */
     .run-an-extra-container{
        max-width: 90%;
    }
     .run-section-title{
        font-size: 2rem;
     }
     .run-img{
        border-radius: 18px;
        margin-right: 32px;
    }
    .run-an-extra-text-content{
        margin-left: 30px;
    }
    /* run and extra mile ends here */

     /* BMI Calculator starts here */
     .bmi-calculator-content-01{
        width: 55%;
        text-align: left ;
        margin-top: 65px;
        margin-left: 30px;
     }
     .bmi-calculator-content-02{
        flex-direction: column;
        margin-top: 45px;
        padding-left: 30px;
    }
    .bmi-calculator-left-content{
        width: 70%;
        margin-top: 35px;
    }
    table{
        margin-top: 45PX;
    }
    .bmi-calculator-right-content{
        margin-top: 50px;
        width: 67%;
    }
    /* BMI Calculator ends here */

    /* meet our team starts here */
    .meet-our-team-text-content{
        width: 85%;
    }
    /* meet our team ends here */
    /* footer section starts here */
    .footer-container{
        flex-direction: column;
    }
    .footer-content-01{
        width: 55%;
        margin-top: 75px;
        /* margin-left: 30px; */
    }
    .footer-content-02{
        width: 80%;
    }
    /* footer section ends here */
}
/* small device media query starts here */
@media screen and (max-width:576px){
    /* Navbar responsive starts here */
    .nav-container{
        margin-left: 15px;
    }
    .nav-left-content{
        margin-top: 50px;
    }
    .btn-home, .items{
        display: none;
    }
    #hamburger-icon{
        display: block;
        margin-top: 20px;
        margin-top: 2px;
    }
    .shape{
        font-size: 5rem;
    }
    .nav-right-content{
        width: 10%;
        margin-top: 50px;
    }
    .navbar-title{
        color: rgb(230, 83, 60);
        font-size: 2.25rem;
        font-weight: 800;
    /* Navbar responsive ends here */
    /* Banner responsive starts here */
    }
    .banner-content{
        flex-direction: column;
        margin-left: 15px;
    }
    .banner-text-title{
        font-size: 3rem;
    }
    .banner-text-content{
        margin-top: 50px;
        width: 100%;
        height: 335px;
    }
    .banner-image-content{
        width: 100%;
        margin-top: 100px;
        /* margin-left: 50px; */
    }
    .btn-primary{
        border-radius: 42px;
        background: rgb(230, 83, 60);
        border: none;
        padding: 10px 30px;
        color: rgb(255, 255, 255);
        font-size: 1.125rem;
        font-weight: 600;
    }
    .btn-primary{
        padding: 10px 10px;
    }
    .btn-download{
        padding: 10px 10px;
    }
    .banner-text-button{
        display: flex;
    }
    .banner-image-content{
        position: relative;
        width: 100%;
    }
    .banner-img{
        max-width: 100%;
    }
    .card-01{
        top: 8%;
        left: 54%;
        padding: 10px 10px;
    }
    .card-02{
        bottom: 42%;
        left: 5%;
        padding: 10px 20px;
    }
    /* Banner responsive ends here */
     /* change your habit responsive starts here */
     .change-your-habit-text-content-title{
        font-size: 1.3rem;
    }
    .change-your-habit-image-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
     /* change your habit responsive ends here */
     /* run and extra mile responsive starts here */
     .run-an-extra-container{
        max-width: 90%;
        flex-direction: column;
        margin-top: 50px;
    }
    .run-an-extra-text-content{
        max-width: 100%;
        margin-top: 20px;
        margin-left: 10px;
    }
    .run-section-title{
        font-size: 1.5rem;
    }
    .btn-primary{
        padding: 10px 40px 10px 40px;
    }
    .btn-join-now{
        margin-top: 10px;
    }
    .run-an-extra-image-content{
        width: 300px;
        padding-bottom: 0;
    }
    .run-img{
        max-width: 100%;
        height: 250px;
        object-position: 66% 27%;
    }
    /* run and extra mile responsive ends here */
    /* BMI Calculator responsive starts here */
    .bmi-calculator-content-01{
        width: 97%;
        text-align: left ;
        margin-top: 25px;
        margin-left: 10px;
     }
     .section-title{
        font-size: 2rem;
    }
     .bmi-calculator-content-02{
        flex-direction: column;
        margin-top: 32px;
        padding-left: 10px;
    }
    .bmi-calculator-left-content{
        width: 90%;
        margin-top: 35px;
    }
    .content-title{
        font-size: 1rem;
    }
    table{
        margin-top: 45PX;
    }
    th,td{
        padding: 10PX 20PX;
    }
    .bmi-calculator-right-content{
        margin-top: 50px;
        width: 95%;
    }
    /* BMI Calculator responsive ends here */

    /* meet our team responsive starts here */
    .meet-our-team-text-content{
        width: 100%;
    }
    .meet-our-team-image-content{
        grid-template-columns: repeat(1,1fr);
        margin-top: 55px;
    }
    .section-title{
        font-size: 2rem;
    }
    /* meet our team responsive ends here */
    /* footer section responsive starts here */
    .footer-container{
        flex-direction: column;
        margin-top: 65px;
    }
    .footer-content-01{
        width: 100%;
        margin-top: 45px;
    }
    .footer-content-01-title{
        font-size: 3.5rem;
    }
    .footer-content-02{
        flex-direction: column;
        width: 100%;
        margin-top: 30px;
    }
    .footer-left-content, .footer-right-content{
        width: 100%;
    }
    .footer-right-content{
        margin-top: 20px;
    }
    .title{
        text-align: left;
    }
    
    /* footer section responsive ends here */
}