@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body{
    font-family: "Inter", sans-serif;
    max-width: 1440px;
    margin: 0 auto;
    /* border: 2px dashed green; */
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid red; */
}
/* shared style starts here */
.btn-primary{
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border: none;
    padding: 10px 30px;
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    font-weight: 600;
}
/* shared style ends here */
/* navbar style starts here */
.header-section{
    margin: 0 auto;
    background: rgba(19, 19, 19, 0.945);
}
.navbar-container{
    max-width: 74%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}
.nav-options{
    color: white;
}
.navbar-items{
    display: flex;
    gap: 50px;
    list-style: none;
}
.navbar-title{
    color: rgb(230, 83, 60);
    font-size: 2.25rem;
    font-weight: 800;
}
.item{
    font-size: 1.125rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
}
#home{
    font-size: 1.125rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    border-radius: 40px;
    background: rgb(230, 83, 60);
    padding: 4px 15px;
}
.hamburger-icon{
    color: white;
    display: none;
}
/* navbar style ends here */
/* banner styles starts here */
.banner-container{
    background: #222222;
    margin: 0 auto;
}
.banner-content{
    max-width: 74%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.banner-text-content{
    width: 520px;
    height: 440px;
    margin-top: 96px;
}
.banner-image-content{
    position: relative;
}
.banner-img{
    max-width: 100%;
}
.banner-text-title{
    font-size: 4.5rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
}
.banner-text-description{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 28px;
}
.banner-text-button{
    margin-top: 28px;
}
.btn-download{
    background: black;
    border-radius: 42px;
    border: 1px solid rgb(255, 255, 255);
    padding: 10px 30px;
    font-size: 1.125rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin-left: 14px;
}
.card-01{
    background: rgba(255, 255, 255, 0.068);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    width: max-content;
    padding: 10px 20px;
    position: absolute;
    top: 22%;
    left: 65%;
}
.card-02{
    background: rgba(48, 48, 48, 0.54);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    width: max-content;
    padding: 10px 30px;
    position: absolute;
    bottom: 12%;
    right: 80%;
}
.card-number-01{
    font-size: 40px;
    font-weight: 900;
    color: rgb(255, 255, 255);
}
.card-description-01{
    font-size: 13px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.65);
}
.card-number-02{
    font-size: 24px;
    font-weight: 900;
    color: rgb(250, 250, 249);
}
.card-description-02{
    font-size: 16px;
    font-weight: 400;
    color: rgba(239, 237, 232, 0.65);
}
/* banner styles ends here */