@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body{
    font-family: "Inter", sans-serif;
    background: black;
    max-width: 1440px;
    margin: 0 auto;
    border: 2px dashed green;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid red;  */
}
/* shared style starts here */
.btn-primary{
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border: none;
    padding: 10px 30px;
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    font-weight: 600;
}
.section-title{
    font-size: 3rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
}
.section-description{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 14px;
    line-height: 24px;
}
/* shared style ends here */
/* navbar style starts here */
.header-section{
    margin: 0 auto;
    /* background: rgba(19, 19, 19, 0.945); */
}
.navbar-container{
    max-width: 74%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}
.nav-options{
    color: white;
}
.navbar-items{
    display: flex;
    gap: 60px;
    list-style: none;
}
.navbar-title{
    color: rgb(230, 83, 60);
    font-size: 2.25rem;
    font-weight: 800;
}
.item{
    font-size: 1.125rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
}
#home{
    font-size: 1.125rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    border-radius: 40px;
    background: rgb(230, 83, 60);
    padding: 4px 15px;
}
.hamburger-icon{
    color: white;
    display: none;
}
/* navbar style ends here */
/* banner styles starts here */
.banner-container{
    /* background: #222222; */
    margin: 0 auto;
}
.banner-content{
    max-width: 74%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.banner-text-content{
    width: 40%;
    height: 440px;
    margin-top: 96px;
}
.banner-image-content{
    width: 40%;
    position: relative;
}
.banner-img{
    width: 100%;
}
.banner-text-title{
    font-size: 4.5rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
}
.shape{
    font-family: "Tangerine", cursive;
}
.banner-text-description{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 28px;
}
.banner-text-button{
    margin-top: 28px;
}
.btn-download{
    background: black;
    border-radius: 42px;
    border: 1px solid rgb(255, 255, 255);
    padding: 10px 30px;
    font-size: 1.125rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin-left: 14px;
}
.card-01{
    background: rgba(255, 255, 255, 0.068);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    width: max-content;
    padding: 10px 20px;
    position: absolute;
    top: 22%;
    left: 65%;
}
.card-02{
    background: rgba(48, 48, 48, 0.54);
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    width: max-content;
    padding: 20px 20px;
    position: absolute;
    bottom: 12%;
    right: 80%;
}
.card-number-01{
    font-size: 40px;
    font-weight: 900;
    color: rgb(255, 255, 255);
}
.card-description-01{
    font-size: 13px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.65);
}
.card-number-02{
    font-size: 24px;
    font-weight: 900;
    color: rgb(250, 250, 249);
}
.card-description-02{
    font-size: 16px;
    font-weight: 400;
    color: rgba(239, 237, 232, 0.65);
}
.audio-icon{
    background: rgb(230, 83, 60);
    border-radius: 50%;
    color: white;
    align-items: center;
    width: max-content;
    padding: 10px 15px;
}
/* banner styles ends here */
/* change your habit style starts here */
.change-your-habit-container{
    max-width: 74%;
    margin: 0 auto;
    margin-top: 100px;
}
.change-your-habit-text-content{
    text-align: center;
}
.change-your-habit-text-content-title{
    font-size: 3rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
}
.change-your-habit-text-content-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    margin-top: 14px;
    line-height: 24px;
}
.change-your-habit-image-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 55px;
    margin-left: 8px;
    margin-right: 8px;
    gap: 40px;
}
.section-img{
    width: 100%;
    border: 1px solid rgb(255, 255, 255);
    box-sizing: border-box;
    border-radius: 50%;
}
.title{
    font-size: 1.125rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 20px;
}
.description{
    font-size: 0.8rem;
    font-weight: 400px;
    line-height: 1.125rem;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin-top: 5px;
}
/* change your habit style ends here */
/* run an extra mile style starts here */
.run-an-extra-container{
    background: rgb(34, 34, 34);
    border-radius: 18px;
    max-width: 74%;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.run-an-extra-text-content{
    max-width: 40%;
    margin-left: 54px;
    margin-top: 45px;
 /* border: 1px solid red; */
}
.run-an-extra-image-content{
    width: 40%;
    margin-top: 30px;
    margin-right: 32px;
/* border: 1px solid red; */
}
.run-img{
    max-width: 100%;
    height: 350px;
    border-radius: 18px;
    margin-right: 32px;
    object-fit: none;
    object-position: 66% 33%;
}
.btn-join-now{
    margin-top: 34px;
}
/* run an extra mile style ends here */
/* meet our team style starts here */
.meet-our-team-container{
    max-width: 74%;
    margin: 0 auto;
    margin-top: 100px;
}
.meet-our-team-text-content{
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
.meet-our-team-image-content{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 18px;
    margin-top: 78px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.team-content{
    height: 300px;
    position: relative;
    padding: 20px;
}
.trainer-name{
    font-size: 1.2rem;
    color: #ffffff;
}
.designation{
    color: rgba(255, 255, 255, 0.5);
    /* font-size: 1.2rem; */
}
.trainer-img{
    width: 100%;
    height: 100%;
    border-radius: 18px;
}
.trainer-bio{
    position: absolute;
    left: 10%;
    bottom: 10%;
}
/* meet our team style ends here */
/* footer style starts here */
footer{
    background: rgba(255, 255, 255, 0.1);
}
.footer-container{
    width: 74%;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.footer-content-01{
    width: 40%;
    margin-top: 70px;
    /* border: 2px solid red; */
}
.footer-content-01-title{
    color: rgb(230, 83, 60);
    font-size: 4.3rem;
    font-weight: 800;
}
.footer-content-02{
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    /* border: 2px solid red; */
}
.footer-left-content,.footer-right-content{
    max-width: 50%;
    /* border: 2px solid red; */
}
.title{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 700;
}
.list-items{
    /* margin-left: 10px; */
}
.item{
    color: rgba(255, 255, 255, 0.5);
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: 400;
    list-style: none;
}
hr{
    width: 74%;
    margin: 0 auto;
    margin-top: 80px;
    border: 2px solid rgba(255, 255, 255, 0.1);
}
.disclaimer{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
    margin-top: 35px;
    padding-bottom: 40px;
}
/* footer style ends here */
/* BMI calculator style starts here */
.bmi-calculator-content-01{
    text-align: center;
    margin-top: 90px;
}
.bmi-calculator-left-content{
    margin-top: 52px;
    width: 443px;
}
.bmi-calculator-right-content{
    margin-top: 50px;
    width: 590px;
}
.content-title{
    color: rgb(255, 255, 255);
    font-size: 1.75rem;
    font-weight: 900;
}
table{
    border-collapse: collapse;
    margin-top: 50PX;
}
th{
    color: rgb(255, 255, 255);
}
th,td{
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15PX 25PX;
}
td{
    color: rgba(255, 255, 255, 0.5);
}
.bmi{
    text-align: left;
}
.bmi-calculator-content-02{
    height: 500px;
    background: rgb(34, 34, 34);
    margin-top: 90px;
    display: flex;
    justify-content: space-evenly;
}
.content-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 24px;
    margin-top: 14px;
}
.form-field{
    margin-top: 35px;
}
#height, #weight, #age{
    width: 280px;
    height: 48px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
    padding-left: 20px;
    margin-bottom: 20px;
}
#weight{
    margin-left: 10px;
}
#input-04{
    width: 280px;
    height: 48px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
    padding-left: 20px;
    margin-left: 10px;
}
#input-05{
    width: 575px;
    height: 48px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
    padding-left: 20px;
}
#btn-calculate{
    margin-top: 30px;
}
/* BMI calculator style ends here */